---
id: 9e1a2772c5c7
title: "Show HN: Anonymous Age Verification"
url: https://gist.github.com/JWally/bf4681f79c0725eb378ec3c246cf0664
source: hackernews
published_at: 2025-08-31T17:14:21Z
fetched_at: 2026-09-30T08:44:24.437Z
importance: 2
points: 71
tags: [opensource]
---

# Show HN: Anonymous Age Verification

Show HN: Anonymous Age Verification

[Read the source →](https://gist.github.com/JWally/bf4681f79c0725eb378ec3c246cf0664)
